<!DOCTYPE html>
<html class="payment" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>pay-me-spring-boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/normalize/3.0.2/normalize.min.css"
          th:href="@{/webjars/normalize.css/3.0.2/normalize.css}" rel="stylesheet" media="screen" />

    <!-- Allow static prototyping by linking directly to css file -->
    <link href="../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />

    <script data-main="js/form"
            src="http://cdn.jsdelivr.net/webjars/requirejs/2.1.16/require.min.js"
            th:src="@{/webjars/requirejs/2.1.16/require.min.js}"></script>
</head>
<body>
    <h2>Welcome to the Acme bank</h2>
    <h3>Why don't you go right ahead and enter your credit card number here and we'll charge a random amount:</h3>
    <div class="payment-form">
        <form id="pay-form" name="pay-form" method="POST" action="/pay">
            <input type="text" id="number" />
            <a class="pay-button" id="pay-button">Pay!</a>
        </form>
        <div class="loader">Loading</div>
    </div>
</body>
</html>